body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-grid {
      border-width: 0px 2px 2px 0px;
      border-color: #999999;
      border-style: solid;  
  }

  .grid-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square.conflict {
    background-color: #cc8888;
  }

  .square.badtotal {
    background-color: #ccc088;
  }

  .square.conflict.badtotal {
    background-color: #ccaf88;
  }

  .square.selected {
    background-color: #99ffee;
  }

  .square.selected-group {
    background-color: #e9e9e9;
  }

  .square.grouped {
    background-color: #f0efbc;
  }

  .square.cursor {
    background-image: url('cursor.png');
  }

  .square {
    background: #ffffff;
    border-width: 1px 0px 0px 1px;
    border-color: #999999;
    border-style: solid;  
    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
  }

  .square.box-left {
    border-left-width: 2px;
  }

  .square.box-top {
    border-top-width: 3px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #dddddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 100;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .group-canvas {
    width: 400px;
    height: 400px;
    position: absolute;
    pointer-events: none;
    z-index: 200;
  }

  .container {
    position: relative;
  }
  